@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
    border: 0;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

/* variables */
body {
    --primary-color-darkShade: #8fa39e;
    --primary-color-lighthade: #a3bab4;
    --secondary-color: #e9e5e3;
}

/* Common css */

.shadowBox {
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
